<div class="main-div">

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dicta eaque eligendi et neque non officia quas similique suscipit, ullam! Consequuntur dolor fugiat fugit illo iste laudantium molestiae mollitia nam, officia perferendis praesentium provident, quaerat rem suscipit tenetur unde, voluptatibus?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fuga id ipsum molestias officiis similique velit! Amet doloremque facere, impedit in maiores quasi quibusdam ratione reprehenderit sint tempora, voluptas voluptatem?
  </p>

  <div class="placeholder" *ngIf="usersService.users[0].hasOwnProperty('name'); else placeholderElseBlock">
<!--    <h2>Placeholder</h2>-->

    <app-diagram></app-diagram>

    <app-table></app-table>

  </div>

  <ng-template #placeholderElseBlock>
    <app-empty-placeholder
      class="placeholder"
      *ngIf="!usersService.loadingFlag;
      else loadingBlock">
    </app-empty-placeholder>
    <ng-template #loadingBlock>
      <div class="placeholder" *ngIf="usersService.loadingFlag">
        <img src="./assets/free-gif-preloaders-psds-09.gif">
      </div>
    </ng-template>
  </ng-template>

  <button class="btn" (click)="getUsers()">Button</button>

  <div [ngClass]="{'refreshed-background': (this.refreshCounter % this.necessaryRefreshes) === 0}">
    <p >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dicta eaque eligendi et neque non officia quas similique suscipit, ullam! Consequuntur dolor fugiat fugit illo iste laudantium molestiae mollitia nam, officia perferendis praesentium provident, quaerat rem suscipit tenetur unde, voluptatibus?
    </p>
    <p >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dicta eaque eligendi et neque non officia quas similique suscipit, ullam! Consequuntur dolor fugiat fugit illo iste laudantium molestiae mollitia nam, officia perferendis praesentium provident, quaerat rem suscipit tenetur unde, voluptatibus?
    </p>
    <p >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dicta eaque eligendi et neque non officia quas similique suscipit, ullam! Consequuntur dolor fugiat fugit illo iste laudantium molestiae mollitia nam, officia perferendis praesentium provident, quaerat rem suscipit tenetur unde, voluptatibus?
    </p>
  </div>

</div>
